 <div class="user-details">
  <h1> LEISTUNGEN</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>TELEKOM VERTRIEBSPARTNER</h2>
      <p>Wir finden für jeden Kunden den passenden Tarif! Genau nach Ihren Wünschen.</p>
    </div>
    <div class="tech">
      <h2>IT & NETZWERK</h2>
      <p>Planung, Installation & Einrichtung Ihrer IT-Infrastruktur</p>
    </div>
       <div class="tech">
      <h2>WORKSHOPS & COACHINGS</h2>
      <p>Sie brauchen professionelle Unterstützung im Umgang mit Ihrer IT? Kein Problem! Sie können bei uns persönliche Coachings & Workshops buchen.</p>
    </div>
</div>
