 <div class="user-details">
  <h1> LEISTUNGEN</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user-details">
      <h1>TELEKOM VERTRIEB</h1>
      <p>Wir finden für jeden Kunden den passenden Tarif! Genau nach Ihren Wünschen. Persönlich vor Ort!</p>
    </div>
    <div class="user-details">
      <h1>IT & NETZWERK</h1>
      <p>Planung, Optimierung, Installation & Einrichtung Ihrer IT-Infrastruktur</p>
    </div>
       <div class="user-details">
      <h1>WORKSHOPS & COACHINGS</h1>
      <p>Sie brauchen professionelle Unterstützung im Umgang mit Ihrer IT? Kein Problem! Sie können bei uns persönliche Coachings & Workshops buchen.</p>
    </div>
<div class="user-details">
      <h1>WEBDESIGN</h1>
      <p>Wir erstellen Ihnen Ihre digitale Visitenkarte im Internet, mit eigener Domain und Mail-Adressen.</p>
    </div>
</div>
